.title {
  font-size: rem(26px);
  font-weight: 900;
}

.controls {
  @media (max-width: 36em) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: 36em) {
    width: 100%;
    text-align: center;
  }
}
