.card {
  background-color: var(--mantine-primary-color-filled) !important;
}

.title {
  color: var(--mantine-color-white);
  opacity: 0.65;
}

.stats {
  color: var(--mantine-color-white);
}

.progressSection {
  background-color: var(--mantine-color-white);
}
