.root {
  font-weight: 500;
  border-radius: var(--mantine-radius-default);
  color: var(--mantine-color-gray-9);
  background-color: var(--mantine-color-white);
  &[data-active="true"] {
    background: var(--mantine-primary-color-light);
    color: var(--mantine-primary-color-filled);
    &:hover {
      background: var(--mantine-primary-color-light-hover);
    }
  }
  &:not([data-active="true"]) {
    &:hover {
      background: var(--mantine-color-gray-0);
    }
  }
  &:not(:last-child) {
    margin-bottom: rem(4px);
  }
}
