.configurator {
  display: flex;
  max-width: 100%;
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
  overflow: hidden;
  border-top-left-radius: var(--mantine-radius-default);
  border-top-right-radius: var(--mantine-radius-default);
  border-bottom: 0;
}

.preview {
  flex: 1;
  padding: var(--mantine-spacing-md);
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  display: flex;
  flex-direction: column;
}

.controls {
  box-sizing: border-box;
  width: rem(250px);
  padding: var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-left: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
}

.codeHighlight {
  margin-top: 0;
  border-bottom-left-radius: var(--mantine-radius-default);
  border-bottom-right-radius: var(--mantine-radius-default);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
}
