.card {
  border: 1px solid light-dark(var(--mantine-color-black), var(--mantine-color-gray-8));
  border-radius: var(--mantine-radius-default);
  display: flex;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
  position: relative;
}

.description {
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
  gap: 0;
}

.title {
  &:after {
    content: "";
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.links {
  > a {
    position: relative;
    z-index: 2;
  }
}

.image {
  border-top-right-radius: var(--mantine-radius-default);
  border-top-left-radius: var(--mantine-radius-default);
}
